*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  border-bottom: 2px solid rgb(21, 21, 33);
}
h1{
  color: rgb(77, 95, 95);

}

ul{
 display: flex;
 gap: 50px;
}
li{
  color: white;
  list-style-type: none;
  cursor: pointer;
}
li:hover{
  color: rgb(38, 57, 119);
}
@media (max-width: 599px){
  ul {
   display: none;
   flex-direction: column;
   gap: 10px;
  }
  ul.show{
    display: flex;
  }
}
.fa-solid {
  color: white;
}
@media (min-width: 599px){
  .fa-solid{
    display: none;
  }
}
.container{
  
  display: grid;
  gap: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 50px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  
}h1 {
  color: rgb(77, 95, 95);
  height: 55px;
}
img{
  width: 300px;
  height: 200px;
  object-fit: cover;
  
}

.article {
  
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
@media (min-width: 1200px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}